@utility theme-dark {
  --radius-control: 8px;

  --color-background: oklch(17.42% 0.0017 17.32);
  --color-foreground: oklch(96.29% 0 0);
  --color-outline: oklch(1 0 0);

  --color-primary: oklch(96.29% 0 0);
  --color-primary-foreground: oklch(17.42% 0.0017 17.32);

  --color-secondary: oklch(96.29% 0 0);
  --color-secondary-foreground: oklch(17.42% 0.0017 17.32);

  --color-good: oklch(0.55 0.2 140);
  --color-good-foreground: oklch(0.95 0 0);

  --color-bad: oklch(0.5 0.25 30);
  --color-bad-foreground: oklch(0.95 0 0);
}
