@source "./";

@theme {
  --font-display: var(--font-display);
  --font-body: var(--font-body);
  --font-mono: var(--font-mono);

  --radius-control: var(--radius-control); /* buttons, inputs, etc */

  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-outline: var(--color-outline);
  --color-light: var(--color-light);

  /* color schemes */
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);

  --color-secondary: var(--color-secondary);
  --color-secondary-foreground: var(--color-secondary-foreground);

  --color-good: var(--color-good);
  --color-good-foreground: var(--color-good-foreground);

  --color-bad: var(--color-bad);
  --color-bad-foreground: var(--color-bad-foreground);
}

@layer base {
  :root {
    @apply min-h-screen bg-background text-foreground font-body;

    --radius-control: 999px;

    --color-foreground: oklch(0.25 0 0);
    --color-background: oklch(0.98 0 0);
    --color-outline: oklch(0 0 0);
    --color-light: oklch(0.98 0 0 / 0.2);

    --color-primary: oklch(17.42% 0.0017 17.32);
    --color-primary-foreground: oklch(96.29% 0 0);

    --color-secondary: oklch(17.42% 0.0017 17.32);
    --color-secondary-foreground: oklch(96.29% 0 0);

    --color-good: oklch(0.6 0.17 140);
    --color-good-foreground: oklch(0.98 0 0);

    --color-bad: oklch(0.6 0.2 30);
    --color-bad-foreground: oklch(0.98 0 0);
  }
}

@plugin "@iconify/tailwind4";
